services:
  broker:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto:/mosquitto/config

  servidor1:
    build: ./servidor
    container_name: servidor1
    ports:
      - "8081:8081"
    environment:
      - ID=001
      - PORTA=8081
    depends_on:
      - broker
    volumes:
      - ./dados/empresas.json:/app/empresas.json
      - ./dados/regiao.json:/app/regiao.json
      - ./dados/veiculos.json:/app/veiculos.json

  veiculo:
    build: ./veiculo
    container_name: veiculo
    stdin_open: true
    tty: true
    depends_on:
      - broker
    volumes:
      - ./dados/regiao.json:/app/regiao.json
      - ./dados/veiculos.json:/app/veiculos.json