services:
  servidor3:
    build: ./servidor
    container_name: servidor3
    ports:
      - "8083:8083"
    environment:
      - ID=003
      - PORTA=8083
    volumes:
      - ./dados/empresas.json:/app/empresas.json
      - ./dados/regiao.json:/app/regiao.json
      - ./dados/veiculos.json:/app/veiculos.json
